<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=1024, user-scalable=no">

  <title>Essentially Angular</title>

  <!-- Required stylesheet -->
  <link rel="stylesheet" href="core/deck.core.css">

  <!-- Extension CSS files go here. Remove or add as needed. -->
  <link rel="stylesheet" media="screen" href="extensions/goto/deck.goto.css">
  <link rel="stylesheet" media="screen" href="extensions/menu/deck.menu.css">
  <link rel="stylesheet" media="screen" href="extensions/navigation/deck.navigation.css">
  <link rel="stylesheet" media="screen" href="extensions/status/deck.status.css">
  <link rel="stylesheet" media="screen" href="extensions/scale/deck.scale.css">
  <link rel="stylesheet" media="screen" href="extensions/pointer/deck.pointer.css">
  <link rel="stylesheet" media="screen" href="extensions/toc/deck.toc.css">
  <link rel="stylesheet" href="extensions/codemirror/deck.codemirror.css">

  <!-- Style theme. More available in /themes/style/ or create your own. -->
  <!--link rel="stylesheet" media="screen" href="themes/style/beamer.css"-->
  <link rel="stylesheet" media="screen" href="themes/style/web-2.0.css">
  <!--link rel="stylesheet" media="screen" href="themes/style/neon.css"-->
  <!--link rel="stylesheet" media="screen" href="themes/style/swiss.css"-->
  <!--link rel="stylesheet" media="screen" href="themes/style/mnml.css"-->
  <!--link rel="stylesheet" media="screen" href="themes/style/kevinburke.css"-->
  <!--link rel="stylesheet" media="screen" href="themes/style/mozilla/sandstone.css"-->
  <!--link rel="stylesheet" media="screen" href="themes/style/mozilla/sandstone-aurora.css"-->
  <!--link rel="stylesheet" media="screen" href="themes/style/mozilla/sandstone.nightly.css"-->

  <!-- Transition theme. More available in /themes/transition/ or create your own. -->
  <!--link rel="stylesheet" media="screen" href="themes/transition/horizontal-slide.css"-->
  <link rel="stylesheet" media="screen" href="themes/transition/cube.css">

  <!-- Basic black and white print styles -->
  <link rel="stylesheet" media="print" href="core/print.css">

  <!-- Required Modernizr file -->
  <script src="modernizr.custom.js"></script>
</head>
<body>
  <div class="deck-container pointer">

    <!-- Begin slides. Just make elements with a class of slide. -->
<section class="slide no-md" id="title-slide">
    <h1>Essentially Angular</h1>
</section>

<section class="slide no-md">
    <h2>Essentially Angular</h2>
    <h2>@kevin_noonan</h2>
    <h2>Python Ireland</h2>
    <h2>8th Jan 2014, Dublin</h2>
</section>

<section class="slide no-md">
    <h2></h2>
    <ul>
    <li></li>
    <li></li>
    <li></li>
    <li><li>
    </ul>
</section>


<section class="slide no-md">
    <h2>High-Level overview of AngularJS</h2>
    <ul>
    <li>JavaScrpt library, for building a rich web client</li>
    <li>A framework not unlike Django, but in the browser</li>
    <li>A level of abstraction above jQuery</li>
    <li>...and other DOM-manipulation and events libraries.<li>
    </ul>
</section>

<section class="slide no-md">
    <h2>Angular is an MVC Framework</h2>
    <ul>
    <li>MVC, all in the browser</li>
    <li>Model: JavaScript data-structures</li>
    <li>View: a section of a web-page</li>
    <li>Controller: JavaScript code to handle that view<li>
    <li><li>
    </ul>
</section>



<section class="slide no-md">
    <h2>A Potted History of Native Web Development</h2>
    <li>Brief (and woefully incomplete)</li>
    </ul>
</section>

<section class="slide no-md">
    <h2>Web Development Approach 1</h2>
    <li>HTML Templates with tags</li>
    <li>Server inserts data (often from a database)</li>
    </ul>
</section>


<section class="slide no-md">
    <h2>Document Object Model ("DOM")</h2>
    <img src="http://upload.wikimedia.org/wikipedia/commons/5/58/Dom_tree.png "></img>
</section>

<section class="slide no-md">
    <h2>Web Development approach 2</h2>
    <ul>
    <li>DOM tree Events & Manipulation</li>
    </ul>
    <img src="http://upload.wikimedia.org/wikipedia/commons/6/6e/Shopware-Logo-jQuery.png"></img>
</section>

<section class="slide no-md">
    <h2>Web Development Approach 3</h2>
    <li>Rich client in the browser</li>
    <li>built with Ember or Angular, etc.</li>
    <li>consuming a REST API on the server</li>
    </ul>
</section>


<section class="slide no-md">
    <h2>Single Greatest Tool for AngularJS Development</h2>
    <li><a href="https://chrome.google.com/webstore/detail/angularjs-batarang/ighdmehidhipcmcojjgiloacoafjmpfk?hl=en">Angular Batarang</a></li>
    <li>Add-on for Chrome Developer Tools</a></li>
    <li>With Batarang, you can see the Scope (explained later)</a></li>
</section>



<section class="slide no-md">
    <h2></h2>
    <ul>
    <li></li>
    <li></li>
    <li><a href=""></a></li>
    </ul>
</section>



<section class="slide no-md">
    <h2>Google Trends</h2>
    <ul>
    <li>Angular versus Backbone, Ember, etc.</li>
    <li><a href="http://t.co/klpK4s80lW">http://t.co/klpK4s80lW</a></li>
    </ul>
</section>

<section class="slide no-md">
    <h2>Angular versus jQuery</h2>
    <ul>
      <li><a href="http://bit.ly/1cAvBOJ">http://bit.ly/1cAvBOJ</a></li>
    </ul>
</section>

<section class="slide no-md">
    <h2>Angular Learning Curve</h2>
    <ul>
      <li><a href="http://nathanleclaire.com/blog/2014/01/04/5-smooth-angularjs-application-tips/">http://nathanleclaire.com/blog/2014/01/04/5-smooth-angularjs-application-tips/</a></li>
    </ul>
</section>


<section class="slide no-md">
    <h2>Angular Phonecat</h2>
    <ul>
	    <li> The official Angular tutorial app </li>
      <li><a href="http://docs.angularjs.org/tutorial/"></a>http://docs.angularjs.org/tutorial/</li>
    </ul>
</section>



<section class="slide no-md">
<div> 
  <textarea id="code" name="code" class="code" mode="javascript" style="display: none;" runnable="true">
<!doctype html>
<html lang="en" ng-app>
<head>
 <meta charset="utf-8">
   <title>My HTML File</title>
     <link rel="stylesheet" href="css/app.css">
     <link rel="stylesheet" href="css/bootstrap.css">
     <script src="lib/angular/angular.js"></script>
</head>
  <body>
    <p>Hello {{ "Python Ireland" }} !</p>
</body>
</html>
  </textarea>
</div> 
</section>


<section class="slide no-md">
    <h2>ng-app bootstraps your Angular app</h2>
    <ul>
	    <li> ng-app defines the area of the page where Angular is in control</li>
      <li>(Without ng-app, you don't have an Angular app.)</li>
    </ul>
</section>

 
<section class="slide no-md">
<div> 
  <textarea id="code" name="code" class="code" mode="javascript" style="display: none;" runnable="true">
<!doctype html>
<html lang="en" ng-app="phonecatApp">
<head>
  <meta charset="utf-8">
  <title>Google Phone Gallery</title>
  <link rel="stylesheet" href="css/app.css">
  <link rel="stylesheet" href="css/bootstrap.css">
  <script src="lib/angular/angular.js"></script>
  <script src="js/controllers.js"></script>
</head>
<body ng-controller="PhoneListCtrl">

  <ul>
    <li ng-repeat="phone in phones">
      {{phone.name}}
      <p>{{phone.snippet}}</p>
    </li>
  </ul>

</body>
</html>

  </textarea>
</div> 
</section>


<section class="slide no-md">
    <h2>Scope is crucial to Angular</h2>
    <ul>
      <li> Scope is structured like the roots of a tree</li>
      <li>ng-app defines RootScope</li>
      <li>Your controller and view define a new scope on the page</li>
      <li>Even ng-repeat creates its own scope inside this.</li>
    </ul>
</section>


<section class="slide no-md">
<div> 
  <div id="code" name="code" class="code" mode="javascript" style="display: none;"> 
use strict';
	  
var phonecatApp = angular.module('phonecatApp', []);

phonecatApp.controller('PhoneListCtrl',
  function($scope) {

$scope.phones = [
    {'name': 'Nexus S',
       'snippet': 'Fast just got faster with Nexus S.'},
         {'name': 'Motorola XOOM™ with Wi-Fi',
            'snippet': 'The Next, Next Generation tablet.'},
       {'name': 'MOTOROLA XOOM™',
     'snippet': 'The Next, Next Generation tablet.'}
  ];
});
  </div>
   
</div> 
</section>


<section class="slide no-md">
    <h2>Angular loves JSON</h2>
    <ul>
      <li> JSON: JavaScript object notation</li>
      <li>Angular consumes JSON best as an array of objects</li>
    </ul>
</section>


<section class="slide no-md">
<textarea id="code" name="code" class="code" mode="javascript" style="display: none;" runnable="true">
<body ng-controller="PhoneListCtrl">
 <div class="container-fluid">
  <div class="row-fluid">
   <div class="span2"> <!--Sidebar content-->
      Search: <input ng-model="query">
   </div>
   <div class="span10"> <!--Body content-->
    <ul class="phones">
      <li ng-repeat="phone in phones | filter:query">
        {{phone.name}}
      <p>{{phone.snippet}}</p>
      </li>
    </ul>
    </div>
    </div>
  </div>
</body>
</textarea>
   
</section>


<section class="slide no-md">
    <h2>Filters</h2>
    <ul>
      <li>Handy, declarative feature</li>
      <li>Several filters built-in</li>
      <li>You can also write your own filters</li>
    </ul>
</section>


<section class="slide no-md">
    <h2>Angular-grunt-coffeescript</h2>
    <ul>
      <li><a href="https://github.com/roytruelove/angular-grunt-coffeescript">https://github.com/roytruelove/angular-grunt-coffeescript</a></li>
      <li>Excellent starting point for an Angular app</li>
      <li>Well-structured: directory per feature</li>
      <li>Demos use of directives, filters, services</li>
      <li>Uses CoffeeScript!</li>
    </ul>
</section>


<section class="slide no-md">
    <h2>Polyglot Angular</h2>
      <li>I highly recommend you learn CoffeeScript</li>
      <li>Well-suited to Angular</li>
      <li>Only 4 years old</li>
      <li>Already language #13 on Github for new repostory creation
      (Source: Adam Bard, 30th Aug 2013.)</li>
      <li><a href="http://www.hanselman.com/blog/JavaScriptIsAssemblyLanguageForTheWebSematicMarkupIsDeadCleanVsMachinecodedHTML.aspx"></a>JavaScript is Assembly Language for the Web...</li>
    </ul>
</section>


<section class="slide no-md">
    <h2>What you need to know about CoffeeScript</h2>
    <ul>
      <li>Like Python, whitespace is significant</li>
      <li>Whitespace defines blocks (for functions and objects)</li>
      <li>The arrow -> is used to define a function  </li>
      <li>Easy to pick up Coffee  </li>
      <li><a href="http://coffeescript.org">coffeescript.org</a></li>
    </ul>
</section>

<section class="slide no-md">
<div>
  <textarea id="code" name="code" class="code" mode="coffeescript" style="display: none;" runnable="true">
# Objects:
math =
  root:   Math.sqrt
  square: square
  cube:   (x) -> x * square x
  </textarea>
</div> 
</section>
  


<section class="slide no-md">
 <div> 
  <textarea id="code" name="code" class="code" mode="javascript" style="display: none;" runnable="true">
math = {
  root: Math.sqrt,
  square: square,
  cube: function(x) {
    return x * square(x);
  }
};
  </textarea>
</div> 
</section>


<section class="slide no-md">
    <h2>Convert CoffeeScript snippets to JavaScript</h2>
    <ul>
      <li>First install js2coffee:</li>
      <li><code>npm install -g js2coffee</code></li>
      <li>Then convert JavaScript:</li>
      <li><code>js2coffee input.js > output.coffee </code></li>
    </ul>
</section>


<section class="slide no-md">
    <h2>Let's talk about DI</h2>
    <ul>
    <li>DI: dependency injection</li>
    <li>Familiar to the Java world: e.g. Spring, Guice</li>
    <li>DI is also used in .NET</li>
    <li>DI is essential in Angular apps</li>
    </ul>
</section>


<section class="slide no-md">
    <h2>angular.module</h2>
    <ul>
    <li>The name of the app ('app')</li>
    <li>And the modules it depends on</li>
    </ul>
<div> 
	<div id="code" name="code" class="code" mode="coffeescript" style="display: none;"> 
m = angular.module('app', mods)
  </div>
   
</div> 
</section>


<section class="slide no-md">
    <h2>The modules of the app</h2>
<div> 
	<div id="code" name="code" class="code" mode="coffeescript" style="display: none;"> 
mods = [
  'common.directives.glowGreenOnMouseoverDirective'
  'common.directives.uiTooltipDirective'
  'common.filters.toLowerFilter'
  'common.services.dataSvc'
  'common.services.envProvider'
  'common.services.toastrWrapperSvc'

  'detailsView.detailsViewCtrl'
  'detailsView.personDetailsDirective'

  'index.indexCtrl'

  'searchView.mattizerFilter'
  'searchView.searchViewCtrl'
]
  </div>
   
</div> 
</section>


<section class="slide no-md">
    <h2>The routes (to the pages) of the app</h2>
<div> 
	<div id="code" name="code" class="code" mode="coffeescript" style="display: none;"> 
routesConfigFn = ($routeProvider)->
  $routeProvider.when('/search',
    {templateUrl: 'searchView/searchView.html'})
  $routeProvider.when('/details/:id',
    {templateUrl: 'detailsView/detailsView.html'})

  $routeProvider.otherwise({redirectTo: '/search'})
</div>
   
</div> 
</section>

<section class="slide no-md">
    <h2>How the routes are configured</h2>
<div> 
	<div id="code" name="code" class="code" mode="javascript" style="display: none;"> 
m = angular.module('app', mods)

m.config ['$routeProvider', routesConfigFn]
  </div>
</div> 
</section>


<section class="slide no-md">
<h2>The run method</h2>
<ul>
	<li>The run method is like the main() in C or Python</li> 
	<li>executed first, once the Angular app has bootstrapped</li> 
	<li>Good place to put an initial request to the server, say;
            or detect the user's login status (wth ngCookies)</li> 
</ul>
</section>


<section class="slide no-md">
<h2>The run method</h2>
<div> 
	<div id="code" name="code" class="code" mode="coffeescript" style="display: none;"> 
m.run (['common.services.env', (env)->
  # Allows the environment service to run whatever app run block it wants.
  if env.appRun?
    env.appRun()
])
  </div>
</div> 
</section>


<section class="slide no-md">
    <h2>The Power of Directives</h2>
    <ul>
    <li>Key selling-point of AngularJS</li>
    <li>Angular comes with a great host of directives built-in</li>
    <li>See: <a href="http://docs.angularjs.org/api">http://docs.angularjs.org/api</a></li>
    <li>Using a directive is declarative programming</li>
    <li>And you can build your own directives (advanced topic)</li>
    </ul>
</section>


<section class="slide no-md">
<h2>A simple directive, built with jQuery</h2>
<div> 
	<div id="code" name="code" class="code" mode="coffeescript" style="display: none;"> 
name = 'common.directives.glowGreenOnMouseoverDirective'

angular.module(name,[]).directive('glowGreenOnMouseover', [
 '$log'
 ($log) ->
   (scope, element, attrs) ->
      element.bind 'mouseenter', () ->
        $(element).addClass('greenGlow')

        element.bind 'mouseleave', () ->
          $(element).removeClass('greenGlow')
])
  </div>
</div> 
</section>


<section class="slide no-md">
<h2>Using the directive in a view</h2>
<div> 
  <textarea id="code" name="code" class="code" mode="javascript" style="display: none;" runnable="true">

<div class="span6">
  <input type="text" ng-model="search" placeholder="Filter by name..."></input>
  <ul>
    <li glow-green-on-mouseover ng-click="loadDetails(person.id)" ng-repeat="person in people | filter:search">
     {{person.firstName | mattizer }} {{person.lastName}}
    </li>
  </ul>
</div>
  </textarea>
  
</div> 
</section>


<section class="slide no-md">
    <h2>Services for Code Organisation</h2>
    <ul>
      <li>AngularJS services are local (in the browser)<li>
      <li>Modules for your code<li>
      <li>Reduce code duplication<li>
      <li>Without services, you'll repeat code in your controllers!<li>
      <li>DRY: Don't Repeat Yourself<li>
    </ul>
</section>


<section class="slide no-md">
<h2>A service to retrieve the data for the app</h2>
<div> 
	<div id="code" name="code" class="code" mode="coffeescript" style="display: none;"> 
### Example of a service shared across views.
Wrapper around the data layer for the app. 
###
name = 'common.services.dataSvc'
class DataSvc
  constructor: (@$log, @$http, @env) ->

  _get: (relPath)->
    return @$http.get("#{@env.serverUrl}/#{relPath}")

  getPeople: () ->
    return @_get('people')

  getPerson: (id) ->
    return @_get("person/#{id}")

angular.module(name, []).factory(name,
['$log','$http', 'common.services.env',
($log, $http, env) ->
        new DataSvc($log, $http, env)
])
  </div>
</div> 
</section>


<section class="slide no-md">
<h2>Using the service in a controller</h2>
<div> 
  <textarea id="code" name="code" class="code" mode="coffeescript" style="display: none;" runnable="true">
name = 'searchView.searchViewCtrl'

angular.module(name, []).controller(name, [
  '$scope'
  '$log'
  '$location'
  'common.services.dataSvc'
  'common.services.toastrWrapperSvc'
  ($scope, $log, $location, data, tstr) ->

    data.getPeople().then (resp)->
      $scope.people = resp.data
  </textarea>
  
</div> 
</section>






<section class="slide no-md">
<div> 
  <textarea id="code" name="code" class="code" mode="javascript" style="display: none;" runnable="true">
  // codemirror demo party!
  var greeter = function(name) {
    return "Why hello there " + name;
  }
  console.log(greeter("Joe"));
  </textarea>
  
</div> 
</section>

<section class="slide no-md">
<div> 
  <div id="code" name="code" class="code" mode="javascript" style="display: none;"> // codemirror demo party!
    var obj = { text : "Hello all!"};
    console.log("HI THERE");
  </div>
   
</div> 
</section>

<section class="slide no-md">

</section>

<section class="slide no-md">
    <h2>Credits</h2>
    <ul>
    <li></li>
    <li></li>
    <li>DOM tree image by <a href="http://dbaron.org/">David Baron</a></li>
    </ul>
</section>


<section class="slide no-md">
    <h2>Credits</h2>
    <ul>
    <li></li>
    <li></li>
    <li>DOM tree image by <a href="http://dbaron.org/">David Baron</a></li>
    </ul>
</section>



<section class="slide no-md">
   <h2>Questions</h2>

   <h2>@kevin_noonan</h2>

</section>


    <!-- End slides. -->

    <!-- Begin extension snippets. Add or remove as needed. -->

    <!-- deck.navigation snippet -->
    <div aria-role="navigation">
      <a href="#" class="deck-prev-link" title="Previous">&#8592;</a>
      <a href="#" class="deck-next-link" title="Next">&#8594;</a>
    </div>

    <!-- deck.status snippet -->
    <p class="deck-status" aria-role="status">
      <span class="deck-status-current"></span>
      /
      <span class="deck-status-total"></span>
    </p>

    <!-- deck.goto snippet -->
    <form action="." method="get" class="goto-form">
      <label for="goto-slide">Go to slide:</label>
      <input type="text" name="slidenum" id="goto-slide" list="goto-datalist">
      <datalist id="goto-datalist"></datalist>
      <input type="submit" value="Go">
    </form>


    <!-- this is for the toc panel -->
    <div class="deck-toc"></div>

    <!-- this is a toc status panel -->
    <table class="deck-toc-status">
          <tr>
          <td class="right deck-toc-h2">&nbsp;</td>
          <td class="left deck-toc-h3">&nbsp;</td>
          </tr>
    </table>

    <!-- End extension snippets. -->
  </div>

<!-- Required JS files. -->
<script src="jquery.min.js"></script>
<script src="core/deck.core.js"></script>

<!-- Extension JS files. Add or remove as needed. -->
<script src="extensions/menu/deck.menu.js"></script>
<script src="extensions/goto/deck.goto.js"></script>
<script src="extensions/status/deck.status.js"></script>
<script src="extensions/navigation/deck.navigation.js"></script>
<script src="extensions/scale/deck.scale.js"></script>

<!-- Laser-pointer (mouse-trails) -->
<script src="extensions/pointer/deck.pointer.js"></script>

<!-- Table of Contents -->
<script src="extensions/toc/deck.toc.js"></script>

<!-- Markdown -->
<script src="extensions/markdown/Markdown.Converter.js"></script>
<script src="extensions/markdown/deck.markdown.js"></script>


<!-- Base codemiror code -->
<script src="extensions/codemirror/codemirror.js"></script>
<!-- Syntax highlighting Modes -->
<!-- javascript -->
<script src="extensions/codemirror/mode/javascript/javascript.js"></script>
<!-- coffeescript -->
<script src="extensions/codemirror/mode/coffeescript/coffeescript.js"></script>
<!-- html mode (note html mode requires xml, css and javascript) -->
<script src="extensions/codemirror/mode/xml/xml.js"></script>
<script src="extensions/codemirror/mode/css/css.js"></script>
<script src="extensions/codemirror/mode/htmlmixed/htmlmixed.js"></script>
<!-- Plugin code -->
<script src="extensions/codemirror/deck.codemirror.js"></script>
<!-- Codemirror syntax style -->
<link rel="stylesheet" href="extensions/codemirror/themes/default.css">

<!-- Initialize the deck. You can put this in an external file if desired. -->
<script>
  $(function() {
    $.deck('.slide');
    /* $.deck('togglePointer'); */
  });
</script>
</body>
</html>
